body{
    display: flex;
    flex-direction: column ;
}
.p1{
    display: flex;
    box-sizing: border-box;
    background: linear-gradient(#FFFEFC,#FEFAF5);
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}
.cajaSuperior{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 23px 334px 0px 335px;
    width: 1251px;
    height: 41px;
}
.logo{
    width: 195px;
    height: 37px; 
    box-sizing: border-box;
}
.menu{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    align-content: flex-start;
    width: 502px;
    height: 33px;
}
.botonesEncabezado{
    background-color: transparent;
    border: 0px;
    font-family: sans-serif ;
    font-size: 15px;
    color: #02073E;
}
.now{
    border:none;
    width: 146px;
    height: 45px;
    border-radius: 5px;
    color:white;
    background-color: #FABF62;
}
.p1_2{
    display: flex;
    justify-content: space-between;
}
.contenedora{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 405px;
    height: 32px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    font-family: sans-serif;
}
.new{
    height: 24px;
    width: 60px;
    border: none;
    border-radius: 20px;
    background-color: #FABF62;
    color: white;

}
.parrafo1{
    font-size: 52px;
    font-family: sans-serif;
    color: #02073E;
    width: 570px;
    height: 211px;
    margin: 0px;
    margin-top: 15px;
}
.parrafo2{
    font-size: 16px;
    font-family: sans-serif;
    color: #02073E;
    width: 486px;
    height: 116px;
    margin-top: 0px;
}
.botones1{
    display: flex;
    justify-content:flex-start;
}
.amarillo{
    width: 140px;
    height: 45px;
    border: none;
    background-color: #FABF62;
    color: white;
    border-radius: 10px;
    margin-right: 15px;
}

.blanco{
    width: 170px;
    height: 45px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}
.texto{
    padding-top: 169px;
}
.img{
    padding-top: 121px;
}
.text1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icoText{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cajaText{
    width: 365px;
    height: 130px;
}
.informacion{
    width: 265px;
    height: 90px;
}
.informacion2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.globo1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 277px;
    height: 143px;
    background-color: #FABF62;
    color: #FFFEFC;
    
}
.globo2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 105px;
    background-color: #FFFEFC;
    color: #FABF62;
}

.checks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20px;
    height: 260px;
}

.packet{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 230px;
    height: 650px;
    margin: 5px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    border-radius: 10px;
    transition: 1s;
}
.packet:hover{
    width: 235px;
    height: 655px;
    box-shadow: none;

    transition: 1s;
}
.cuadroTexto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 190px;
    margin-bottom: 160px;
}
.beneficios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 143px;
    height: 40px;
    border-bottom: rgb(242, 237, 237) 1px solid
}
.botonPrecio{
    width: 170px;
    height: 50px;
    color: #FABF62;
    border: #FABF62 1px solid;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    transition: 0.5s;
    
}
.botonPrecio:hover{
    background-color: #FABF62;
    color: white;
    border: none;
    transition: 0.5s;
}
.textPacket{
    display: flex;
    flex-direction: column;
}
.lista{
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 11px;
    padding-top: 32px;
    border-bottom: rgb(242, 237, 237) 1px solid;
}

.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recomended{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 230px;
    height: 685px;
    margin: 5px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    border-radius: 10px;
    transition: 1s;
}
.recomended:hover{
        width: 235px;
        height: 690px;
        box-shadow: none;
        transition: 1s;
        
}
.recomended:hover .botonRecomended{
    width: 235px;
    height: 35px;
    transition: 1s;
}
.p3{
    display: flex;
    justify-content: center;
    
}
.cuadroPacket{
    display: flex;
    align-items: flex-end;
    height: 700px;

}
.checksRecomended{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20px;
    height: 260px;
    margin-top: 40px;
}
.botonRecomended{
    display: flex;
    justify-content: center;
    width: 230px;
    height: 35px;
    color: white;
    background-color: #3ba9e9;
    border-radius: 10px 10px 0px 0px;
    transition: 1s;
}
.planRecomended{
    margin: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.encabezadoP3{
    display: flex;
    flex-direction: column;
   align-items: center;
}
