body{
    display: flex;
    flex-direction: column ;
    align-items: center;
    font-family: "DM Sans", sans-serif;
}
.p1{
    display: flex;
    box-sizing: border-box;
    background: linear-gradient(#FFFEFC,#FEFAF5);
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}
.cajaSuperior{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 23px 334px 0px 335px;
    width: 1251px;
    height: 41px;
}
.logo{
    width: 195px;
    height: 37px; 
    box-sizing: border-box;
}
.menu{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    align-content: flex-start;
    width: 502px;
    height: 33px;
}
.botonesEncabezado{
    background-color: transparent;
    border: 0px;
    font-family: sans-serif ;
    font-size: 15px;
    color: #02073E;
}
.now{
    border:none;
    width: 146px;
    height: 45px;
    border-radius: 5px;
    color:white;
    background-color: #FABF62;
    font-size: 16px;
}
.p1_2{
    display: flex;
    justify-content: space-between;
}
.contenedora{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 405px;
    height: 32px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    font-family: sans-serif;
}
.new{
    height: 24px;
    width: 60px;
    border: none;
    border-radius: 20px;
    background-color: #FABF62;
    color: white;

}
.parrafo1{
    font-size: 52px;
    font-weight: bold;
    color: #02073E;
    width: 570px;
    height: 211px;
    margin: 0px;
    margin-top: 15px;
}
.parrafo2{
    font-size: 16px;
    color: #02073E;
    width: 486px;
    height: 116px;
    margin-top: 0px;
}
.botones1{
    display: flex;
    justify-content:flex-start;
}
.amarillo{
    width: 140px;
    height: 45px;
    border: none;
    font-size: 16px;
    background-color: #FABF62;
    color: white;
    border-radius: 10px;
    margin-right: 15px;
}

.blanco{
    width: 170px;
    height: 45px;
    border: none;
    font-size: 16px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
}
.texto{
    padding-top: 169px;
}
.img{
    padding-top: 121px;
}


.imgP2{
    display: flex;
    flex-direction: column;
}


.text1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Ideal{
    font-size: 16px;
    color: rgba(235, 167, 61, 1);
}
.beyond{
    font-size: 24px;
}
.icoText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.tituloP2{
    font-weight: bold;
}
.cajaText{
    width: 365px;
    height: 130px;
}
.informacion{
    width: 265px;
    height: 90px;
}
.informacion2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}
.tituloT2{
    font-weight: bold;
    font-size: 30px;
}
.enlace{
    border-bottom: black 1px solid;
    color: #3570e7;
    border-color: #3570e7;
}
.globo1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 277px;
    height: 143px;
    background-color: #FABF62;
    color: #FFFEFC;
    border-radius: 20px 20px 0px 20px;
    font-size: 22px;
    position:relative;
    bottom: 550px;
    right: 150px;
    
}
.globo2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 105px;
    background-color: #FFFEFC;
    color: #FABF62;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    border-radius: 20px 20px 20px 0px;
    font-size: 22px;
    position: relative;
    bottom: 400px;
    left: 950px;


}

.checks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20px;
    height: 260px;
}
.titleP3{
    font-size: 16px;
    color:#FABF62;

}
.titleP3_1{
    font-size: 24px;
}
.packet{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 230px;
    height: 650px;
    margin: 5px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    border-radius: 10px;
    transition: 0.3s;
}
.packet:hover{
    width: 235px;
    height: 655px;
    box-shadow: none;

    transition: 0.3s;
}
.cuadroTexto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 107px;
    align-items: flex-start;
}
.beneficios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 143px;
    height: 40px;
    border-bottom: rgb(242, 237, 237) 1px solid;
    font-size: 16px;
    margin: 9px;
}
.beneficios1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 143px;
    height: 40px;
    border-bottom: rgb(242, 237, 237) 1px solid;
    font-size: 16px;
    margin: 14px;
}
.botonPrecio{
    width: 170px;
    height: 50px;
    color: #FABF62;
    border: #FABF62 1px solid;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    transition: 0.5s;
    
}
.botonPrecio:hover{
    background-color: #FABF62;
    color: white;
    border: none;
    transition: 0.5s;
}
.textPacket{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lista{
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 11px;
    padding-top: 32px;
    border-bottom: rgb(242, 237, 237) 1px solid;
}

.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recomended{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 230px;
    height: 685px;
    margin: 5px;
    box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
    border-radius: 10px;
    transition: 0.3s;
}
.recomended:hover{
        width: 235px;
        height: 690px;
        box-shadow: none;
        transition: 0.3s;
        
}
.recomended:hover .botonRecomended{
    width: 235px;
    height: 35px;
    transition: 0.3s;
}
.p3{
    display: flex;
    justify-content: center;
    
}
.cuadroPacket{
    display: flex;
    align-items: flex-end;
    height: 700px;

}
.checksRecomended{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20px;
    height: 260px;
    margin-top: 40px;
}
.botonRecomended{
    display: flex;
    justify-content: center;
    width: 230px;
    height: 35px;
    color: white;
    background-color: #3ba9e9;
    border-radius: 10px 10px 0px 0px;
    transition: 0.3s;
    font-size: 14px;
}
.tPaquetes{
    font-size: 16px;
}
.tPrecio{
    font-size: 26px;
}
.planRecomended{
    margin: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.encabezadoP3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p3_2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 970px;
    color: white;
    background-color: rgba(53, 52, 72, 1);
}
.p4_2{
    display: flex;
}
.cajaimg1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cajaimg3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.p5{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1240px;
    height: 824px;
}
.textosP5{
    display: flex;
}
.texto1P5{
    display: flex;
    width: 580px;
    height: 596px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 16px;
}
.texto2P5{
    display: flex;
    width: 580px;
    height: 659px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 16px;

}
.parrafoP5{
    border-bottom: rgba(15, 33, 55, 1) 1px solid
}
.cabezaP5{
    font-size: 24px;
}
.cabezaP6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    font-size: 30px;
    width: 576px;
    height: 91px;
}
.azul{
    display: flex;
    width: 1250px;
    height: 200px;
    background-color: rgba(24, 54, 86, 1);
    color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
    left: 300px;
}
.azul p{
    font-size: 36px;
}
.azul button{
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    width: 260px;
    height: 60px;
    position: absolute;
    right: 40px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 460px;
    background-color: rgba(249, 250, 252, 1);
}
.botonesFooter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 214px;
    height: 116px;
    justify-content: space-around;
}
.opcionesFooter{
    display: flex;
    flex-direction: column;
    width: 164px;
    height: 175px;
    justify-content: space-between;
    align-items: flex-start;

}
.footer button{
    border: none;
    background-color: rgba(249, 250, 252, 1);
    
}
.footer button:hover{
    color: #3570e7;
}
.subtitulo{
    font-size: 18px;
}
.textFooter{
    font-size: 15px;
}
.subP6{
    font-size: 16px;
}
.textP4{
    font-size: 20px;
    display: flex;
}
.t1{
    font-size: 16px;
    color: rgba(235, 167, 61, 1);
}
.t2{
    font-size: 24px;
}
.tituloP4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgFinal{
    position: relative;
    top: 110px;
}